.catagory {
    margin-top: 123px;

    &__content {
        max-width: 1133px;
        display: flex;
        justify-content: space-between;
    }

    &__women {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }

    &__box {
        position: relative;
    }

    &__button {
        position: absolute;
        font-family: 'Poppins';
        @include font(500, 18px, 27px, #22262A);
        text-align: center;
        background: #FFFFFF;
        left: 25px;
        bottom: 28px;
    }

  
}