.tachen {
    background: url(../assets/img/tachen/tachen-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 153px;

    &__content {
        display: flex;  
    }

    &__info {
        margin-top: 223px; 
    }

    &__title {
        @include font (500, 18px, 27px, $color);
    }

    &__description {
        @include font (700, 80px, 120px, $color);
    }

    &__button {
        @include font (500, 18px, 27px, #FFFFFF);
        background: #22262A;
        margin-right: 24px;
        margin-top: 27px;
        padding: 4px 24px;
    }

}

@media screen and (max-width: 1130px){
    .tachen{
      margin-top: 250px;
       
    }
   }
   @media screen and (max-width: 700px){
    .tachen{
      margin-top: 250px;
       
    }
   }