.women {
    margin-top: 113px;

    &__name {
        text-align: center;
    }

    &__title {
        @include font(700, 20px, 30px, $color);
        text-align: center;
    }

    &__description {
        @include font(400, 15px, 22px, $color);
        text-align: center;
        margin-top: 15px;
    }

    &__suptitle {
        @include font(300, 15px, 22px, $color);
        margin-top: 38px;
    }

    &__details {
        @include font(600, 15px, 22px, $color);
        margin-top: 3px;
    }

    &__boxes{
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
      
    }
    &__box
    {
        width: 24%;
    }
    &__prices{
        display: flex;
    }
    &__newprice{
        margin-left: 25px;
        color:red;
    }

        
}
@media screen and (max-width: 1100px){
    .women{
        &__container{
            width: 1100px;
        }
     &__boxes{   
        display: flex;
        flex-wrap: wrap;
     }
        &__box{
      width: 30%;
    }    
}
}
@media screen and (max-width: 860px){
    .women{
        &__container{
            width: 860px;
        }
     &__boxes{   
        display: flex;
        flex-wrap: wrap;

     
     }
        &__box{
      width: 50%;
    }    
}
}
@media screen and (max-width: 570px){
    .women{
        &__container{
            width: 570px;
        }
     &__boxes{   
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

     
     }
        &__box{
      width: 60%;
    }    
}
}
