.women {
    margin-top: 113px;

    &__name {
        text-align: center;
    }

    &__title {
        @include font(700, 20px, 30px, $color);
        text-align: center;
    }

    &__description {
        @include font(400, 15px, 22px, $color);
        text-align: center;
        margin-top: 15px;
    }

    &__suptitle {
        @include font(300, 15px, 22px, $color);
        margin-top: 38px;
    }

    &__details {
        @include font(600, 15px, 22px, $color);
        margin-top: 3px;
    }

    &__boxes{
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__box{
       width: 24%; 
    }
}
